[mysqld]
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_sst_method=rsync
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1

# 10.1 requires these aparantly. also 10.1+ might require the [galera] section (in repo)
# wsrep_on=ON
# innodb_doublewrite=1
# query_cache_size=0
